
.small-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 30%;
    cursor: pointer;
}
.sproduct select {
    display: block;
    padding: 5px 10px;
}
#MainImage {
    height: 500px;
}
.sproduct{
    padding-bottom: 10px;
}
.comment {
    margin:0 80px;
}