.overlay {

    width: 90%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.4);
    top:0 !important;
    left:0 !important;
    border-radius: 10px;
}
.overlay2 {
    
    width: 80%;
    height:  350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0,0.4);
    top:0 !important;
    right:0 !important;
    border-radius: 10px;

}
.itemCenter {
    padding-top: 200px;
 }

.itemCenter2 {
    padding-top: 100px;
 }
 ul{
    list-style-type: none;
 }