.img-card {
  width: 70%;
  height: 300px;
  margin: 10px 0;
}

.page-link {
  color: rgb(181, 56, 56) !important;
  border-radius: 5px;
}
.page-link:focus {
  background-color: rgb(181, 56, 56) !important;
  color: white !important;
}
.page-link:hover {
  /* background-color: rgb(144, 141, 141) !important;
    color: white !important; */
  background-color: rgb(181, 56, 56) !important;
  color: white !important;
}
.active > .page-link,
.page-link.active {
  background-color: rgb(181, 56, 56) !important;
  border-color: rgb(181, 56, 56) !important;
  color: white !important;
}
.form-check-input:checked {
  background-color: rgb(181, 56, 56) !important;
  border-color: rgb(181, 56, 56) !important;
}
